<p id="notice"><%= notice %></p>

<p>
  <b>Food name:</b>
  <%= @menu.food_name %>
</p>

<p>
  <b>Price:</b>
  <%= @menu.price %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
