<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :food_name %><br />
      <%= f.collection_select(:food_name,Menu.all,:food_name,:food_name)  %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.collection_select(:price,Menu.all,:price,:price)  %>
    </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br />
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :in_queue %><br />
    <%= f.check_box :in_queue %>
  </div>
  <div class="field">
    <%= f.label :cooking %><br />
    <%= f.check_box :cooking %>
  </div>
  <div class="field">
    <%= f.label :served %><br />
    <%= f.check_box :served %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
