<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Food name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
    <th>In queue</th>
    <th>Cooking</th>
    <th>Served</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.food_name %></td>
    <td><%= ticket.price %></td>
    <td><%= ticket.quantity %></td>
    <td><%= ticket.subtotal %></td>
    <td><%= ticket.tax %></td>
    <td><%= ticket.total %></td>
    <td><%= ticket.in_queue %></td>
    <td><%= ticket.cooking %></td>
    <td><%= ticket.served %></td>
    <td><%= ticket.paid %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
