<p id="notice"><%= notice %></p>

<p>
  <b>Food name:</b>
  <%= @ticket.food_name %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ticket.quantity %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @ticket.subtotal %>
</p>

<p>
  <b>Tax:</b>
  <%= @ticket.tax %>
</p>

<p>
  <b>Total:</b>
  <%= @ticket.total %>
</p>

<p>
  <b>In queue:</b>
  <%= @ticket.in_queue %>
</p>

<p>
  <b>Cooking:</b>
  <%= @ticket.cooking %>
</p>

<p>
  <b>Served:</b>
  <%= @ticket.served %>
</p>

<p>
  <b>Paid:</b>
  <%= @ticket.paid %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
