<%= form_for(@ticket_info) do |f| %>
  <% if @ticket_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_info.errors.count, "error") %> prohibited this ticket_info from being saved:</h2>

      <ul>
      <% @ticket_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :ticket_id %><br />
      <%= f.collection_select(:ticket_id,Ticket.all,:id,:id) %>
    </div>
  <div class="field">
    <%= f.label :table_number %><br />
    <%= f.number_field :table_number %>
  </div>
  <div class="field">
    <%= f.label :guest_number %><br />
    <%= f.number_field :guest_number %>
  </div>
  <div class="field">
    <%= f.label :waiter %><br />
    <%= f.text_field :waiter %>
  </div>
  <div class="field">
    <%= f.label :cook %><br />
    <%= f.text_field :cook %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
