<h1>Listing ticket_infos</h1>

<table>
  <tr>
    <th>Ticket</th>
    <th>Table number</th>
    <th>Guest number</th>
    <th>Waiter</th>
    <th>Cook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_infos.each do |ticket_info| %>
  <tr>
    <td><%= ticket_info.ticket_id %></td>
    <td><%= ticket_info.table_number %></td>
    <td><%= ticket_info.guest_number %></td>
    <td><%= ticket_info.waiter %></td>
    <td><%= ticket_info.cook %></td>
    <td><%= link_to 'Show', ticket_info %></td>
    <td><%= link_to 'Edit', edit_ticket_info_path(ticket_info) %></td>
    <td><%= link_to 'Destroy', ticket_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket info', new_ticket_info_path %>
