<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @ticket_info.ticket_id %>
</p>

<p>
  <b>Table number:</b>
  <%= @ticket_info.table_number %>
</p>

<p>
  <b>Guest number:</b>
  <%= @ticket_info.guest_number %>
</p>

<p>
  <b>Waiter:</b>
  <%= @ticket_info.waiter %>
</p>

<p>
  <b>Cook:</b>
  <%= @ticket_info.cook %>
</p>


<%= link_to 'Edit', edit_ticket_info_path(@ticket_info) %> |
<%= link_to 'Back', ticket_infos_path %>
